.auth-container{
	width: 95%;
	margin-right: auto;
	margin-left: auto;
	color: $gray3;
}
.header__title {
	font-size: $fs-light-medium;
	margin-bottom: 2rem;
}
.header__text{
	margin-bottom: 2rem;
}
.form {
	display: flex;
	flex-direction: column;
	align-items: center;;
	.auth-buttons{
		width: 95%;
		display: flex;
		justify-content: center;
		img{margin-right: .5rem;}
	}
}
.form__field{
	width: 100%;
	margin-bottom: .5rem;
	input{margin-bottom: 1rem;}
	input[type="email"], input[type="password"]{
		width: 100%;
		padding-left: 3rem;
		padding-top: 1rem;
		padding-bottom: 1rem;
		border-radius: 5px;
		border: 1px solid #BDBDBD;
		background-repeat: no-repeat;
		background-position: 2% center;
		&:focus{
			outline: none;
		}
	}
	input[type="email"]{
		background-image: url('../../assets/email_black_24dp.svg');
	}
	input[type="password"]{
		background-image: url('../../assets/lock_black_24dp.svg');
	}
	input[type="submit"]{
		width: 100%;
	}
}

@media (min-width: 1200px) {
	.auth-container{
		max-width: 30rem;
		margin-top: 3rem;
		padding: 1rem;
		border: 1px solid #000;
		border-radius: 12px;
	}
}