.edit-container {
	width: 95%;
	margin-right: auto;
	margin-left: auto;
	min-width: 20rem;
}
.edit-container__header {
	.edit-container__text {
		margin-bottom: 1rem;
	}
	.edit-container__form-legend {
		display: block;
		margin: 0;
		margin-bottom: 1rem;
		font-size: $fs-medium;
		text-align: center;
	}
	span {
		display: block;
		text-align: center;
	}
	.edit-container__img-container {
		padding-left: 1rem;
		margin-bottom: 1rem;
		display: flex;
		align-items: center;
		cursor: pointer;
		span {
			text-transform: uppercase;
			margin-left: 1rem;
		}
	}
}

.edit-container__form {
	fieldset {
		border: 0px;
	}
	.edit-container__form-label {
		margin-bottom: 0.3rem;
	}
	.edit-container__form-field {
		display: flex;
		flex-direction: column;
	}
	.edit-container__input,
	.edit-container__textarea {
		margin-bottom: 1rem;
		padding-left: 0.5rem;
		padding-top: 1rem;
		padding-bottom: 1rem;
		border: 1px solid #828282;
		border-radius: 12px;
	}
	.edit-container__textarea {
		resize: none;
		height: 5rem;
	}
	.edit-container__form-submit {
		display: block;
		width: 100%;
	}
}

@media (min-width: 992px) {
	#root{
		height: 100vh;
		display: grid;
	}
	.edit-container__form {
		position: relative;
		max-width: 53rem;
		margin: 1rem auto;
		place-content: center;
		fieldset {
			border: 1px solid $gray;
			border-radius: 12px;
			padding: 2rem;
		}
		.edit-container__form-legend {
			text-align: start;
		}
		span {
			text-align: start;
		}
		.edit-container__form-field {
			align-items: start;
		}
		.edit-container__input,
		.edit-container__textarea {
			width: 50%;
		}
		.edit-container__textarea {
			height: 5.8rem;
		}
		.edit-container__form-submit {
			width: auto;
			padding: 1rem 2rem;
		}
	}
	.header__img-container{
		width: 4rem;
		background-image: url('../../assets/arrow_drop_down_black_24dp.svg');
		background-repeat: no-repeat;
		background-position: center right;
	}
}
