.img-container {
	border-radius: 12px;
	overflow: hidden;
	width: 72px;
	height: 72px;
	justify-self: center;
}
.img-container.img-small-container {
	width: 32px;
	height: 32px;
}
.user-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.img-container.edit-photo {
	position: relative;
	&::after {
		position: absolute;
		display: block;
		content: "";
		top: 0;
		width: 100%;
		height: 100%;
		background: darken($color: $gray2, $amount: 10)
			url("../../assets/photo_camera_white_24dp.svg") no-repeat center
			center;
		opacity: 0.5;
	}
}

@media (min-width: 992px) {
	//hover photo
	.img-container.edit-photo {
		&::after {
			width: 0;
			height: 0;
		}
		&:hover {
			&::after {
				position: absolute;
				display: block;
				content: "";
				top: 0;
				width: 100%;
				height: 100%;
				background: darken($color: $gray2, $amount: 10)
					url("../../assets/photo_camera_white_24dp.svg") no-repeat
					center center;
				opacity: 0.5;
			}
		}
	}
}
