.modal-menu{
	position: absolute;
	top: -100vh;
	right:1rem;
	z-index: 1;
	padding: 1rem;
	border: 1px solid #E0E0E0;
	border-radius: 12px;
	background-color: $white;
	list-style: none;
	font-size: .75rem;
	transition: top .4s ease;
	.modal-menu__item{
		padding-left: 2rem;
		padding-top: 1rem;
		padding-bottom: 1rem;
		background-position: left center;
		background-repeat: no-repeat;
		border-radius: 12px;
		cursor: pointer;
		&:hover{
			background-color: $white;
		}
	}
	.modal-menu__item.profile{
		background-image: url('../../assets/account_circle_black_24dp.svg');
	}
	.modal-menu__item.group-chat{
		background-image: url('../../assets/people_black_24dp.svg');
	}
	.modal-menu__item.logout{
		background-image: url('../../assets/logout_black_24dp.svg');
	}
}
.modal-menu--active{
	top: 3rem;
}