.header {
	padding-top: 1rem;
	margin-bottom: 1rem;
	padding-right: 1rem;
	padding-left: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.info-container {
	width: 95%;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	h1 {
		margin: 0;
	}
}
.top-text {
	margin-bottom: 1rem;
}
.info-container__header {
	display: flex;
	justify-content: space-around;
	.header__text {
		flex-basis: calc(70% - 3rem);
		margin-bottom: 1rem;
	}
	.edit-button {
		border: 1px solid #e0e0e0;
		border-radius: 12px;
		align-self: center;
		flex-basis: calc(30%);
	}
}
.list {
	padding: 0;
	.list__item {
		margin-bottom: 0.5rem;
		padding-top: 0.5rem;
		padding-bottom: 2rem;
		font-size: $fs-normal;
		list-style: none;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid #e0e0e0;
		&:last-of-type {
			border-bottom: 0;
		}
	}
	.right {
		flex-basis: calc(50%);
		text-align: end;
		padding-right: 1rem;
	}
	.right.right-img {
		display: flex;
		justify-content: flex-end;
		align-content: center;
	}
	.left {
		text-transform: uppercase;
		flex-basis: calc(50%);
		font-size: $fs-small;
	}
}

@media (min-width: 992px) {
	#root {
		display: block !important;
	}
	.header {
		padding-top: 1rem;
	}
	.info-container {
		max-width: 53rem;
	}
	.info-container__header {
		border-bottom: 1px solid #d3d3d3;
		padding-bottom: 1rem;
		padding-top: 1rem;
		padding-left: 1rem;
		.edit-button{
			flex-basis: 20%;
		}
	}

	.list {
		border: 1px solid $gray;
		border-radius: 12px;
		padding-top: 2rem;
		.list__item {
			justify-content: start;
		}
		.left {
			padding-left: 3rem;
			flex-basis: 30%;
		}
		.right {
			flex-basis: 70%;
			text-align: start;
		}
		.right.right-img {
			justify-content: start;
		}
	}
}
