/* apply a natural box layout model to all elements, but allowing components to change */
html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
body{
	font-family: 'Noto Sans', sans-serif;
}
.fw-bold{font-weight: 700;}
.fw-normal{font-weight: 400;}

.bg-gray{background-color: #F2F2F2;}
.bg-red{background-color:#EB5757;}
.bg-blue{background-color:#2F80ED;}

$blue: #2780ed;
$red: #eb5757;
$white: #f2f2f2;

//borders
$gray: #828282;
//fonts
$gray2: #4F4F4F;
$gray3: #333333;

$fs-big: 2.25rem;
$fs-medium: 1.5rem;
$fs-light-medium: 1.125rem;
$fs-normal: 1rem;
$fs-small: .875rem;

.fs-big {font-size: $fs-big;}
.fs-medium {font-size: $fs-medium;}
.fs-light-medium {font-size: $fs-light-medium;}
.fs-normal {font-size: $fs-normal;}
.fs-small {font-size: $fs-small;}

.txt-muted{color: $gray;}
.link{color: $blue; cursor: pointer;}

.lh-25{line-height: 1.5625rem;}
.lh-22{line-height: 1.375rem;}
.lh-18{line-height: 1.125rem;}
.mb-2{margin-bottom: 2rem;}
.mb-1{margin-bottom: 1rem;}
.m-0{margin: 0;}
.pointer{cursor: pointer;}
.center-txt{text-align: center;}
.block{display: block;}

.button {
	padding: 1rem;
	border-radius: 5px;
	border:none;
	background-color: transparent;
	cursor: pointer;
	text-align: center;
}
.button-blue {
	color: $white;
	background-color: $blue;
}